################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment/.vs/Assignment/FileContentIndex/6ed9e274-4fe9-49e2-8f5a-5157386359a6.vsidx
/Assignment/.vs/Assignment/FileContentIndex/7c4116bb-4400-438a-a8b3-c52cfb7231f0.vsidx
